# Retrieving data from file 
Dataset can be found here: https://ai.stanford.edu/~amaas/data/sentiment/

In [1]:
pip install natsort

Requirement already satisfied: natsort in c:\users\maria\anaconda3\lib\site-packages (8.2.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import numpy as np
import pandas as pd
import os
import glob
import re
from natsort import natsorted, ns, os_sorted

We will need some global variables..

In [23]:
listOfMovieIds = []

The next function reads the data from the directory and plots it to a datafram with both the titleId and the corrresponding review.

In [29]:
def get_data_from(mdir):
    
    path = os.getcwd() + "/\data//" + mdir 
    txt_files = glob.glob(os.path.join(path, "*.txt"))
    
    txt_files = os_sorted(txt_files) #now a sorted list of txt files

    # loop over the list of txt files
    reviews = [] 
    for f in txt_files:
        # read the file
        with open(f, encoding="utf8") as content:

            review = str(content.readlines())
            reviews.append(review)

    d = {'reviews': reviews} 
    df_reviews = pd.DataFrame(data=d) 
    
    
    # opening the file in read mode
    my_file = open("data/urls_" + mdir + ".txt", "r")

    # reading the file
    data = my_file.read()

    # replacing end splitting the text 
    # when newline ('\n') is seen.
    data_into_list = re.findall("tt(\d{7})", data) #retrieve only the titleId's from the urls
    my_file.close()

    d = {'titleId': data_into_list}
    df_ids = pd.DataFrame(data=d)
    
    extracted_col = df_ids["titleId"]
    df = df_reviews.join(extracted_col)
    

    return (df)

## Collecting the data into a single dataframe

In [30]:
df1 = get_data_from("pos")
df2 = get_data_from("neg")
df = pd.concat([df1, df2], ignore_index=True) #merge the dataframes

In [32]:
df

                                                 reviews  titleId
0      ["I went and saw this movie last night after b...  0406816
1      ["My boyfriend and I went to watch The Guardia...  0406816
2      ['My yardstick for measuring a movie\'s watch-...  0406816
3      ["How many movies are there that you can think...  0406816
4      ["This movie was sadly under-promoted but prov...  0406816
...                                                  ...      ...
24995  ["CyberTracker is set in Los Angeles sometime ...  0109515
24996  ["Eric Phillips (Don Wilson) is a secret servi...  0109515
24997  ['Plot Synopsis: Los Angeles in the future. Cr...  0109515
24998  ['Oh, dear! This has to be one of the worst fi...  0109515
24999  ['This movie was sooo bad. It wasn\'t even fun...  0485161

[25000 rows x 2 columns]

In [33]:
df.to_pickle("reviewsDf.pkl")