In [1]:
import pandas as pd
df_reviews = pd.read_pickle(r'reviewsFromImdb/networkData3.pkl')

In [2]:
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')

In [3]:
#df_reviews['Review_tokens'] = df_reviews.apply(lambda row: tokenizer.tokenize(x.lower() for x in row['Reviews']), axis=1)

In [4]:
#df_reviews.apply(lambda row: tokenizer.tokenize(x.lower() for x in row['Reviews']), axis=1)
sent_tokens = []
for row in df_reviews["Reviews"]:
    tokens = []
    for sub in row:
        tokens.append(tokenizer.tokenize(sub.lower()))
    sent_tokens.append(tokens)
df_reviews['Review_tokens'] = sent_tokens

In [5]:
df_reviews

,TitleId,MovieTitle,Actors,Genres,Reviews,Rating,Review_tokens
0,0235679,Pokémon 3: The Movie,"[Rica Matsumoto, Veronica Taylor, Rachael Lill...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[The other day, I was looking through some old...",5.8,"[[the, other, day, i, was, looking, through, s..."
1,0221889,Beautiful Creatures,"[Susan Lynch, Iain Glen, Rachel Weisz, Tom Man...","[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...","[What I liked about the film ""Beautiful Creatu...",5.8,"[[what, i, liked, about, the, film, beautiful,..."
2,0268200,Brigham City,"[Richard Dutcher, Wilford Brimley, Carrie Morg...","[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...","[First and foremost, Brigham City is a murder ...",6.7,"[[first, and, foremost, brigham, city, is, a, ..."
3,0260332,روزی که زن شدم,"[Fatemeh Cherag Akhar, Hassan Nebhan, Shahr Ba...","[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...","[I had completely forgotten about this movie, ...",7.3,"[[i, had, completely, forgotten, about, this, ..."
4,0238588,Shadow Magic,"[Jared Harris, Yu Xia, Yufei Xing, Peiqi Liu, ...","[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",[Ann Hus first directorial and writing effort...,7.2,"[[ann, hu, s, first, directorial, and, writing..."
...,...,...,...,...,...,...,...
1991,0066579,Women in Love,"[Alan Bates, Oliver Reed, Glenda Jackson, Jenn...","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",[Ken Russell's adaptation of D. H. Lawrence's ...,7.1,"[[ken, russell, s, adaptation, of, d, h, lawre..."
1992,0322824,Japón,"[Alejandro Ferretis, Magdalena Flores, Yolanda...","[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...","[Japon, a film by first-time director Carlos R...",6.9,"[[japon, a, film, by, first, time, director, c..."
1993,0285462,Boat Trip,"[Horatio Sanz, Roselyn Sanchez, Maurice Godin,...","[{'id': 35, 'name': 'Comedy'}]",[Man I don't understand why people come down s...,4.9,"[[man, i, don, t, understand, why, people, com..."
1994,0285531,Dreamcatcher,"[Morgan Freeman, Thomas Jane, Jason Lee, Damia...","[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...","[This Stephen King adaptation is underrated, s...",5.5,"[[this, stephen, king, adaptation, is, underra..."
1995,0323642,Piglet's Big Movie,"[John Fiedler, Jim Cummings, Andre Stojka, Kat...","[{'id': 16, 'name': 'Animation'}, {'id': 10751...",[Piglet's Big Movie is a sweet children's movi...,6.1,"[[piglet, s, big, movie, is, a, sweet, childre..."

In [6]:
df_sentimentValues = pd.read_csv('Sentiment_values.txt', sep='\t',engine='python')
df_word_and_scores = df_sentimentValues[['word', 'happiness_average']].copy()
sentiment_dict = dict(zip(df_word_and_scores.word, df_word_and_scores.happiness_average))

In [25]:
ext_list = []
for row in df_reviews['Review_tokens']:
    review_in_list =[]
    for reviews in row:
        tokens_in_list = []
        for token in reviews:
            if token in sentiment_dict.keys():
                tokens_in_list.append(token)
        review_in_list.append(len(tokens_in_list))
    ext_list.append(review_in_list)

In [33]:

reviews_for_movie =[]
for row in df_reviews['Review_tokens']:
    sentiments_for_review = []
    for review in row:
        sentiments_for_token = []
        for token in review:
            if token in sentiment_dict.keys():
                sentiments_for_token.append(sentiment_dict[token])
        sentiments_for_review.append(int(sum(sentiments_for_token)))
    reviews_for_movie.append(sentiments_for_review)
df_reviews['Sentiment'] = reviews_for_movie

In [39]:
print(ext_list[0])
print(len(df_reviews['Sentiment']))

[137, 146, 289, 330, 179, 292, 264, 218, 50, 978, 235, 52, 416, 559, 66, 116, 306, 315, 145, 201, 183, 56, 36, 198, 30]
1996

In [37]:
#df_reviews['Average_sentiment'] = [(x for x in df_reviews['Sentiment'][index] / (y for y in ext_list[index])) for index in range(len(df_reviews['Sentiment']))]
res = [i / j for i, j in zip(df_reviews['Sentiment'][index], ext_list[index]) for index in range(len(df_reviews['Sentiment']))]

ZeroDivisionError: division by zero

In [35]:
df_reviews

,TitleId,MovieTitle,Actors,Genres,Reviews,Rating,Review_tokens,Sentiment
0,0235679,Pokémon 3: The Movie,"[Rica Matsumoto, Veronica Taylor, Rachael Lill...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[The other day, I was looking through some old...",5.8,"[[the, other, day, i, was, looking, through, s...","[755, 805, 1575, 1833, 1007, 1620, 1473, 1184,..."
1,0221889,Beautiful Creatures,"[Susan Lynch, Iain Glen, Rachel Weisz, Tom Man...","[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...","[What I liked about the film ""Beautiful Creatu...",5.8,"[[what, i, liked, about, the, film, beautiful,...","[1387, 1411, 1469, 2889, 910, 1358, 653, 720, ..."
2,0268200,Brigham City,"[Richard Dutcher, Wilford Brimley, Carrie Morg...","[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...","[First and foremost, Brigham City is a murder ...",6.7,"[[first, and, foremost, brigham, city, is, a, ...","[2313, 1638, 965, 708, 962, 1521, 954, 358, 85..."
3,0260332,روزی که زن شدم,"[Fatemeh Cherag Akhar, Hassan Nebhan, Shahr Ba...","[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...","[I had completely forgotten about this movie, ...",7.3,"[[i, had, completely, forgotten, about, this, ...","[1031, 1260, 1444, 302, 515, 267, 1268, 592, 2..."
4,0238588,Shadow Magic,"[Jared Harris, Yu Xia, Yufei Xing, Peiqi Liu, ...","[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",[Ann Hus first directorial and writing effort...,7.2,"[[ann, hu, s, first, directorial, and, writing...","[702, 865, 680, 599, 4113, 533, 608, 577, 463,..."
...,...,...,...,...,...,...,...,...
1991,0066579,Women in Love,"[Alan Bates, Oliver Reed, Glenda Jackson, Jenn...","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",[Ken Russell's adaptation of D. H. Lawrence's ...,7.1,"[[ken, russell, s, adaptation, of, d, h, lawre...","[1930, 1377, 3407, 2049, 1188, 576, 423, 825, ..."
1992,0322824,Japón,"[Alejandro Ferretis, Magdalena Flores, Yolanda...","[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...","[Japon, a film by first-time director Carlos R...",6.9,"[[japon, a, film, by, first, time, director, c...","[2763, 2241, 1864, 493, 1629, 1440, 794, 832, ..."
1993,0285462,Boat Trip,"[Horatio Sanz, Roselyn Sanchez, Maurice Godin,...","[{'id': 35, 'name': 'Comedy'}]",[Man I don't understand why people come down s...,4.9,"[[man, i, don, t, understand, why, people, com...","[965, 539, 600, 2531, 312, 961, 641, 772, 5041..."
1994,0285531,Dreamcatcher,"[Morgan Freeman, Thomas Jane, Jason Lee, Damia...","[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...","[This Stephen King adaptation is underrated, s...",5.5,"[[this, stephen, king, adaptation, is, underra...","[663, 3448, 1905, 4429, 2080, 555, 1621, 1369,..."
1995,0323642,Piglet's Big Movie,"[John Fiedler, Jim Cummings, Andre Stojka, Kat...","[{'id': 16, 'name': 'Animation'}, {'id': 10751...",[Piglet's Big Movie is a sweet children's movi...,6.1,"[[piglet, s, big, movie, is, a, sweet, childre...","[787, 640, 845, 432, 734, 767, 69, 754, 924, 8..."

In [ ]:
print(min(df_reviews['Average_sentiment']))
print(max(df_reviews['Average_sentiment']))
df_reviews.to_pickle("Sentiment_for_reviews.pkl")

In [ ]:
avg_sentiemnt_for_movies = df_reviews.groupby(['titleId']).mean()
avg_sentiemnt_for_movies

In [ ]:
print(min(avg_sentiemnt_for_movies['Average_sentiment']))
print(max(avg_sentiemnt_for_movies['Average_sentiment']))